<form name="thingType">
   <label for="typeselect"> Select Category: </label>
   <span ng-repeat="type in $ctrl.types.availableOptions">
     <label class="checkbox" for="{{type.name}}">
       <input  type="checkbox" 
               ng-model="$ctrl.typeSelection.value[type.value]"
               value="type.value" />
         {{type.name}}
     </label>
   </span>
   <br>
   <button type="submit"
           class="btn btn-primary"
           ng-click="$ctrl.typesSubmitted($ctrl.typeSelection)">Search</button>
 </form>

<!-- use the following code from current_things.html  -->

<ul class="items things">
  <li ng-repeat="ti in $ctrl.things"
      ng-class="{selected: $ctrl.isCurrentThing($index)}">
    <a ng-click="$ctrl.thingClicked($index)">
      <img ng-src="{{ti.image_content_url}}?width=100"/>
      <span class="id thing_id">{{ti.thing_id}}</span>
      <span class="name">{{ti.thing_name}}</span> 
      <span class="id image_id">{{ti.image_id}}</span>
      <span class="distance" ng-if="ti.distance">({{ti.distance | number:1 }} miles)</span>
    </a>
  </li>
</ul>